/*********************** Commom styles *******************/
body {
    max-width: 1920px;
    width: 100%;

    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

header {
    background: rgba(255, 144, 14, 0.1);
    padding-top: 30px;

}

.container {
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
}

.btn-primary {
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    margin: 30px 0;
}

.btn-secondary{
    background: #FF900E;
    border-radius: 8px;
    width: 300px;
    height: 180px;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    border: none;
    margin: 30px 0;
}

/********************** Header and Nav styles************* */
.nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.sub-title {
    font-weight: 700;
    font-size: 45px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 26px;
}

.banner-details {
    padding: 20px 50px;
    text-align: center;
}



/**************** Galary styles *************/
.galary-item {
    display: flex;
    align-items: center;
    padding: 80px;
    gap: 50px;

}

.galary-details {
    width: 50%;
}

.galary-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}

/******************* Future styles ***************/
.future-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */

}

.future-box-1 {
    width: 100%;
    max-width: 586px;

}


.future-item {
    padding: 25px;
    border-radius: 5px;
    border: 1px solid red;

}

.future-title-border {
    border-left: 5px solid #FF900E;
    margin-right: 20px;
}

.future-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-left: 20px;
}

.future-sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.future-button {
    text-align: center;
    position: relative;
    top: -160px;
    right: -80px;

}




















/* footer */
.footer-item {
    background: rgba(255, 144, 14, 0.1);
    text-align: center;
    padding: 20px;
}

.fotter-details {
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}

