/*********************** Commom styles *******************/
body {
    max-width: 1920px;
    width: 100%;

    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

header {
    background: rgba(255, 144, 14, 0.1);
    padding-top: 30px;

}

.container {
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
}

.btn-primary {
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    margin: 30px 0;
}

.btn-secondary {
    background: #FF900E;
    border-radius: 8px;
    width: 300px;
    height: 180px;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    border: none;
    margin: 30px 0;
}

/********************** Header and Nav styles************* */
.nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-title {
    font-weight: 700;
    font-size: 2.81rem;
    color: #131313;
}

.title {
    font-weight: 700;
    font-size: 4rem;
    color: #131313;

}


.sub-title {
    font-weight: 700;
    font-size: 2.81rem;
}

.description {
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
}

.banner-details {
    padding: 40px 0px;
    text-align: center;
    width: 100%;
    max-width: 826px;
}



/****************************** Galary styles *****************************/
.galary-item {
    display: flex;
    align-items: center;
    padding: 80px;
    gap: 50px;

}

.galary-details {
    font-size: 2.5rem;
}

.galary-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1.5rem;
    grid-column-gap: 1.5rem;
}



/********************************** Fuature styles ****************************/
.future-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */

}

.future-box-1 {
    width: 100%;
    max-width: 586px;
    color: ;

}


.future-item {
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 3px 4px 3px #d4dbdccd;
    margin: 4px;

}

.future-title-border {
    border-left: 5px solid #FF900E;
    margin-right: 20px;
}

.future-title {
    font-weight: 700;
    font-size: 2.81rem;
    color: #131313;
    margin-left: 20px;
}

.future-sub-title {
    font-weight: 600;
    font-size: 1.25rem;
    color: #131313;
}

.future-button {
    text-align: center;
    position: relative;
    top: -160px;
    right: -80px;

}

.button-title {
    font-weight: 700;
    font-size: 4rem;
    color: #FFFFFF;
}

.button-sub-title {
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}

/******************************************some fact styles  ********************************/
.fact-items {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 80px;
}

.fact-details {
    width: 100%;
    max-width: 542px;
}

.fact-item {
    text-align: center;
    border: 2px;
    border: 2px solid #FF900E;
    border-radius: 8px;
    padding: 25px 70px;
    transition: width 2s linear 1s, height 2s ease 1s, transform 1s;

}

.fact-item:hover {
    transform: scale(1.1) rotate(360deg);
    border: 2px solid skyblue;


}

.fact-item img:hover {
    border: 3px solid skyblue;
}





.fact-title {
    font-weight: 600;
    font-size: 2.81rem;
    color: #424242;
}

.fact-description {
    font-weight: 600;
    font-size: 1.25rem;
    color: #727272;
}

/******************* sponsor styles *********************/
.sponsor-img {
    display: flex;
    justify-content: space-between;
    margin: 60px;
    filter: grayscale();
}

.sponsor-details {
    text-align: center;
    
}

.fact-icon {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;

}
/******************  Bonus Section *****************/
.new-section{
    display: flex;
    justify-content: space-evenly;
}
.bonus-item{
    display: flex;
    align-items: center;
}
.bonus{
    margin: 90px 20px;
}
.spacing{
    margin-left: 10px;
}
.new-section img{
    border-radius: 25px;
}




/********* footer *********/
.footer-item {
    background: rgba(255, 144, 14, 0.1);
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.fotter-details {
    font-weight: 400;
    font-size: 1.25rem;
    color: #424242;
}




/**********************Responsive website Media Query  ******************/

@media screen and (max-width:576px) {
    body {
        margin-left: 5px;
        margin-right: 5px;
    }

    .sponsor-img {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .fact-items,
    .galary-item,
    .future-box{
        flex-direction: column;
    }

    .galary-image {
        grid-template-columns: repeat(1, 1fr);
    }

    .future-button {
        position: static;
    }

    .container.banner img {
        width: 100%;
    }

    .fact-item {
        margin: 50px;
    }

    .galary-details {
        width: 100%;
        font-size: 1rem;
    }

    .galary-title {
        width: 100%;
    }

    .description {
        width: 100%;
    }

    .title {
        font-size: 2rem;
    }

    .nav-title{
        font-size:2rem;
    }
    .nav{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        
    }
    .nav ul{
        flex-direction: column;

    }
    .new-section, .bonus-item{
        flex-direction: column;
        
    }
    


}